CONFIG_BOARD_RTS3917=y
CONFIG_TARGET_ASIC=y
CONFIG_RTS3917_QFN88_DDR2_512MBIT=y
CONFIG_RTS3917_DDR_1200=y
CONFIG_ENV_IN_FLASH=y
CONFIG_CPU_800M=y
CONFIG_KERNEL_ADDR=0xc0000
CONFIG_FDT_ADDR=0x80100000
CONFIG_FDT_FLASH_ADDR=0xa0000
